<footer class="footer-container">
  <hr>
  <div class="footer-content">
    <div>
      <h6>Project</h6>
      <p>Latest Release</p>
      <p>Updates</p>
    </div>
    <div>
      <h6>Support</h6>
      <p>Troubleshooting</p>
      <p>Common Questions</p>
    </div>
      <h6 class="copyright-content"><i class="fas fa-heart"></i> Copyright 2021 By Michelle Verge, Adrian Wong & Donny Li</h6>
  </div>

</footer>
