<footer class="footer-container">
  <hr>
  <div class="footer-content">
    <div class='footer-col'>
      <h6>Project</h6>
      <a href>Latest Release</a>
      <a href>Updates</a>
    </div>
    <div class='footer-col'>
      <h6>Support</h6>
      <a href>Troubleshooting</a>
      <a href>Common Questions</a>
    </div>
      <h6 class="copyright-content"><i class="fas fa-heart"></i> Copyright 2021 By Michelle Verge, Adrian Wong & Donny Li</h6>
  </div>

</footer>
