<header class="header-container">
  <div id="body-overlay"></div>
  <nav class="real-menu" role="navigation">
    <ul>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Order History</a></li>
  </ul>
  </nav>
  <button id="open-menu"><i class="fas fa-hamburger"></i></button>
  <span>Order Co.</span>
</header>
