<header class="header-container">
  <div id="body-overlay"></div>
  <nav class="real-menu" role="navigation">
    <!-- check if cookie??? -->
    <% if(typeof displayName == 'undefined') { %>
      <div class="side-bar-content">
        <a href="/login" class="btn btn-dark" id="login-button">Sign In</a>
        <a href="/menu">View Menu</a>
        <a href="/register">Register</a>
      </div>
    <% } else { %>
      <div class="side-bar-content">
        <div class="profile-display">
          <i class="fas fa-user-astronaut fa-4x"></i>
          <div class="welcome-name">
            <span>Hello!</span>
            <!-- grab user name here -->
            <span>Donny</span>
          </div>
        </div>
        <a href="/profile">View Profile</a>
        <a href="/menu">View Menu</a>
        <a href="/orders">View Orders</a>
        <button type="button" class="btn btn-dark">Sign Out</button>
      </div>
    <% } %>
  </nav>
  <div class="nav-logo">
    <button id="open-menu"><i class="fas fa-hamburger fa-2x"></i></button>
    <h3>Order Co.</h3>
  </div>
  <a href="/order_submit" class="btn btn-warning checkout-button">View Cart</a>
</header>

