.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  color: black;
  background-color: white;
  height: 100px;
  padding: 2rem 0;
}
