.menu-item-container {
  width: 100%;
  min-height: 80vh;


  .item-submission {
    margin: 10px 0 50px 0;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  img {
    height: 600px;
    width: 800px;
    object-fit: cover;
    padding: 10px;
  }

  .card-body {
    width: 30%;
  }

  .main-menu {
    border: none;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 0;
    margin-left: 85%;
    border-radius: 50%;
  }

  .card-title {
    font-family: "Quattrocento", sans-serif;
    font-weight: bold;
    font-size: 60px;
  }

  hr {
    border-top: 3px solid black;
    width: 45%;
  }

  .card-text {
    font-family: "Quattrocento", sans-serif;
    margin-top: 50px;
    font-size: 20px;
  }

  .card-price {
    font-family: "Quattrocento", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  .add-to-cart {
    margin-top: 150px;
  }

  .item-quantity {
    width: 10%;
    height: 38px;
    outline: none;
    border: 2px solid #DEDEDE;
    border-radius: 4px;
    margin-left: 5px;
  }

  .btn {
    width: 35%;
  }

}
