.menu-container {
  width: 100%;
  padding: 1em 2em;
  font-family: "Lora", sans-serif;
  font-size: 18px;

  .menu-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-size: 36px;
    margin-bottom: 1rem;
  }

  .card {
    width: 750px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 10px;

    .picture-col {
      width: 33%;
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .content-col {
      width: 66%;
      height: 300px;
      display: flex;
      align-items: center;

      .card-title {
        font-family: "Quattrocento", sans-serif;
        font-size: 26px;
        margin-bottom: 1.25rem;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 2rem;

        .name {
          height: 60px;
          margin: 0;
        }

        .description {
          height: 100px;
          margin: 0;
        }

        .price {
          height: 40px;
          margin: 0;
          text-align: right;
        }

        button {
          height: 50px;
          margin-left: auto;
        }


      }
    }
  }

  .btn {
    height: 40px;
    width: 100px;
  }

  img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    padding: 10px;
  }


}


