.order-submit-container {
  margin-top: 1rem;
  min-height: 78vh;

  .quantity-counter-container {
    width: 30%;

    input {
      width: 10%;
      text-align: center;
    }
  };

  .order-submission-header {
    font-family: "Cinzel", sans-serif;
    font-size: 34px;
    text-align: center;
  }


  .order-submission-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 12rem;
    font-family: "Quattrocento", sans-serif;

    h4 {
      font-size: 28px;
    }

    h5 {
      font-size: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    };

    .orders-table {
      display: flex;
      flex-direction: column;

      .table-header-row {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid black;

        .table-header {
          font-family: "Quattrocento", sans-serif;
          font-size: 28px;
        }

        .item-col {
          width: 10%;
        }

        .name-col {
          width: 40%;
        }

        .price-col {
          width: 15%;
          text-align: right;
        }

        .quantity-col {
          width: 20%;
          text-align: center;
        }

        .subtotal-col {
          width: 15%;
          text-align: right;
        }

      }

      .table-body {
        display: flex;
        flex-direction: column;

        .order-data-row {
          display: flex;
          flex-direction: row;
          font-family: "Lora", sans-serif;
          font-size: 18px;
          padding: 0.5rem 0;

          .order-submission-id {
            width: 10%;
          }

          .item-name {
            width: 40%;
          }

          .item-price {
            width: 15%;
            text-align: right;
          }

          .quantity-counter-container {
            width: 20%;

            .quantity-counter {
              display: flex;
              justify-content: center;

              input {
                width: 30%;
                margin: 0 0.5rem;
              }
            }
          }

          .item-subtotal {
            width: 15%;
            text-align: right;
          }
        }
      }

    }
  }


  .checkout-summary {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .total-price{
      display: flex;

      h5 {
        padding-left: 2em;
      }
    }

    button {
      width: 15%;
    }
  }
}
