.order-status-container {
  width: 100%;
  min-height: 78vh;

  .order-status {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quattrocento", sans-serif;
    font-size: 28px;

    h4 {
      margin-top: 2rem;
      font-size: 28px;
    }
  }
}
