// See: https://sass-lang.com/
@import "layout/_header.scss";
@import "pages/errors";
@import "pages/login";
@import "pages/register";
@import "pages/menu_item";
@import "pages/menu";
@import "pages/order_status";
@import "pages/order_history";
@import "pages/order_submit";
@import "pages/home";
@import "pages/profile";

body{
  padding:0;
  margin:0;
  width:100%;
  height:100vh;
  background-color:#9590A8;
}
